body{
    background: linear-gradient(40deg, #022859, #038c65, #03a678, #023059);
    height: 721px;
}
.contenedor {
    border: 1px solid black;
    font-size: 25px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    min-width: 30em;
}

.controles {
    background-color: #ffffff;
    height: 3em;
    width: 100%;
}

.selector-categoria {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .5em;
    cursor: pointer;
    font-size: .8em;
    height: 2em;
    padding-left: .5em;
    -webkit-appearance: none;
    width: 80%;
}

.icono {
    cursor: pointer;
    height: 2em;
    width: 2em;
}
th{
    background-color: #023059;
    color: white;
}

#divScroll {
    overflow:scroll;
    height:80%;
    width:98%;
    margin: 20px;
    align-items: center;
    align-content: center;
}




table{
    color: black;
    background-color: white;
    width: 98%;
}



.boton{

    display:inline-block;
    background-color: #022859;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:6px 9px;
    line-height:normal;
    margin: 1px;
    font-size:13px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.boton:hover {
    background:#03A678;
    border-radius:50px;
    color: rgb(255, 255, 255);
}


.acciones{
    padding-left: 2%;
}

#text1{
    font-weight: bold;
}

input[type="text"] {
    width: 90%;
}
input#input2 {
    width: 40%;
}


.boton2{

    display:inline-block;
    background-color: #022859;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:7px 11px;
    line-height:normal;
    font-size:13px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

.boton2:hover {
    background:#03A678;
    border-radius:50px;
    color: rgb(255, 255, 255);
}


.boton4{
    display:inline-block;
    background-color: #022859;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    margin: 5px;
    font-size:15px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}



.boton4:hover {
    background:#03A678;
    border-radius:50px;
    color: rgb(255, 255, 255);
}

@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 20px 0px;
    }
}