#seccion1{
    float: left;
    width: 80%;
    height: 900px;
    margin: 0 0 0 10%;
    background-color: rgb(252, 250, 250);
    padding: 10px 10px 10px 10px;

}

#piedepagina{
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    width: 81%;
    margin: 27% 10% 10px;
    height: 100px;
    background-color: #fff;
    clear: both;

}





#h12{
    background: linear-gradient(30deg,black, #022859,#038c65, #03a678, #023059, black);
    -webkit-background-clip: text;
    font-size: 20px;
}