.contenedor {
    border: 1px solid black;
    font-size: 25px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    min-width: 30em;
}

.controles {
    background-color: #ffffff;
    height: 3em;
    width: 100%;
}

.selector-categoria {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .5em;
    cursor: pointer;
    font-size: .8em;
    height: 2em;
    padding-left: .5em;
    -webkit-appearance: none;
    width: 80%;
}

.icono {
    cursor: pointer;
    height: 2em;
    width: 2em;
}


#divScroll {
    overflow:scroll;
    height:200px;
    width:500px;
}
